<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Display a Map on a Webpage</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.js"></script>
</head>
<body>
    <div id="map"></div>
    <div class="slider-container">
        <label class="slider-label" for="crime-slider">Crime</label>
        <input type="range" id="crime-slider" class="slider" min="0" max="100" value="50" />

        <label class="slider-label" for="road-quality-slider">Road Quality</label>
        <input type="range" id="road-quality-slider" class="slider" min="0" max="100" value="50" />

        <label class="slider-label" for="lighting">Lighting</label>
        <input type="range" id="lighting" class="slider" min="0" max="100" value="50" />
    </div>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script src="{{ url_for('static', filename='style.js') }}"></script>
</body>
</html>

